#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
/* Reset de estilos básicos */
body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

/* Estilos de la página */
body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  text-align: center;
  padding: 20px 0;
}

.product {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

.product img {
  max-width: 100%;
  height: auto;
}

.product h3 {
  margin-top: 10px;
}

.product p {
  margin-top: 5px;
  color: #777;
}

